extends main

block body
  div#login.container.col-sm-2.col-sm-offset-5
    form#credentials.form-vertical(method='post', action='/login')

      legend(align='center'): strong.text-info Login

      if message!=''
        div.alert.alert-danger= message

      div.form-group
        label Username:
        input.form-control(name='username', value=user, autofocus)

      div.form-group
        label Password:
        input.form-control(name='password', type='password')

    div.form-group
      form(action='/signup')
        button.btn.btn-primary(type='submit', form='credentials') Log in
        button.btn.btn-success(type='submit') Sign up